%tr{id: "inquiry_#{inquiry.id}"}
  %td= abbr_date_time inquiry.created_at
  %td= inquiry.full_name
  %td= inquiry.email
  %td= page_excerpt inquiry.message
  %td
    = link_to "View", admin_inquiry_path(inquiry), class: "btn btn-success"
    - if inquiry.archived
      = link_to "Unarchive", unarchive_admin_inquiry_path(inquiry), remote: true, method: :post, class: "archive-control unarchive btn btn-info"
    - else
      = link_to "Archive", archive_admin_inquiry_path(inquiry), remote: true, method: :post, class: "archive-control archive btn btn-info"
    = link_to "Delete", admin_inquiry_path(inquiry), method: :delete, class: "btn btn-danger"