.container
  .row-fluid
    .col-lg-12
      %h2 Inquiries

.container
  %ul.nav.nav-tabs
    %li
      %a{href: "#inbox", data: {toggle: "tab"}} Inbox
    %li
      %a{href: "#archive", data: {toggle: "tab"}} Archive
    
  .tab-content

    #inbox.tab-pane
      .row-fluid
        .col-lg-12
          %table.table.table-bordered.table-condensed
            %thead
              %tr
                %th Created At
                %th Full Name
                %th Email
                %th Message
                %th.table-inquiry-actions Actions
            %tbody
              - if @inbox.present?
                - @inbox.each do |inquiry|
                  = render partial: "admin/inquiries/item", locals: {inquiry: inquiry}

              - else
                %tr.nothing-yet
                  %td{colspan: 5} You haven't received any new inquiries.

    #archive.tab-pane
      .row-fluid
        .col-lg-12
          %table.table.table-bordered.table-condensed
            %thead
              %tr
                %th Created At
                %th Full Name
                %th Email
                %th Message
                %th.table-inquiry-actions Actions
            %tbody
              - if @archive.present?
                - @archive.each do |inquiry|
                  = render partial: "admin/inquiries/item", locals: {inquiry: inquiry}

              - else
                %tr.nothing-yet
                  %td{colspan: 5} You haven't archived any inquiries.

:coffeescript
  $(document).ready ->
    $('a[href="#inbox"]').tab('show')