%h2 View Inquiry

%table.table.table-bordered.table-condensed
  %tbody
    %tr
      %td
        %strong Created At
      %td= pretty_date_time @inquiry.created_at
    %tr
      %td 
        %strong Name
      %td= @inquiry.full_name
    %tr
      %td 
        %strong Email Address
      %td= @inquiry.email
    %tr
      %td
        %strong Phone Number
      %td= @inquiry.phone rescue "Not provided"
    %tr
      %td
        %strong Address
      %td= @inquiry.address rescue "Not provided"
    %tr
      %td
        %strong Message
      %td= @inquiry.message 