= simple_form_for([:admin, @page], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }}) do |f|
  = f.input :title, required: true
  = f.input :show_in_nav, as: :select
  = f.input :body
  = image_tag @page.image.small if @page.image?
  = f.input :image, label: "Upload Image"
  = f.input :image_cache, as: :hidden
  = f.button :submit, label: "Add Page", class: "btn btn-success"
  .preloader= image_tag "preloader.gif"