%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th.table-sort Sort
      %th Title
      %th Excerpt
      %th.table-image Image Preview
      %th.table-actions Actions
  %tbody.sortable-table{:'data-update-url' => sort_admin_pages_url}
    -if @pages.present?
      - @pages.each do |page|
        %tr{id: "page_#{page.id}"}
          %td
            .sort-handle
              %i.glyphicon.glyphicon-sort
          %td= page.title
          %td= page_excerpt page.body
          %td= image_tag page.image.thumb if page.image.present?
          %td
            = link_to "Edit", edit_admin_page_path(page), class: "btn btn-info"
            = link_to "Delete", admin_page_path(page), method: :delete, class: "btn btn-danger"

    - else
      %tr
        %td{colspan: 5} You haven't added any pages yet.