.container
  .row-fluid
    .col-lg-9
      %h2 Pages
    .col-lg-3
      = link_to "Add Page", new_admin_page_path, class: "btn btn-primary pull-right"

.container
  .row-fluid
    .col-lg-12.col-tables
      = render "admin/pages/table"