= simple_form_for([:admin, @event], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }}) do |f|
  = f.input :title
  = f.input :event_at, label: "Event Date", as: :string, input_html: {class: "datetimepicker form-control"}
  = f.input :description
  = image_tag @event.image.small.url if @event.image?
  = f.input :image, label: "Upload Image"
  = f.input :image_cache, as: :hidden
  = f.button :submit, label: "Add Event", class: "btn btn-success"