- if @upcoming_events.present?
  %h3 Upcoming Events
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th.table-sort Sort
        %th Title
        %th Event Date
        %th Excerpt
        %th.table-image Image Preview
        %th.table-actions Actions
    %tbody.sortable-table{:'data-update-url' => sort_admin_events_url}
      - @upcoming_events.each do |event|
        %tr{id: "event_#{event.id}"}
          %td
            .sort-handle
              %i.glyphicon.glyphicon-sort
          %td= event.title
          %td= pretty_date_time event.event_at
          %td= page_excerpt event.description
          %td= image_tag event.image.thumb if event.image.present?
          %td
            = link_to "Edit", edit_admin_event_path(event), class: "btn btn-info"
            = link_to "Delete", admin_event_path(event), method: :delete, class: "btn btn-danger"


- if @previous_events.present?
  %h3 Previous Events
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th.table-sort Sort
        %th Title
        %th Event Date
        %th Excerpt
        %th.table-image Image Preview
        %th.table-actions Actions
    %tbody.sortable-table{:'data-update-url' => sort_admin_events_url}
      - @previous_events.each do |event|
        %tr
          %td
            .sort-handle
              %i.glyphicon.glyphicon-sort
          %td= event.title
          %td= pretty_date event.event_at
          %td= page_excerpt event.description
          %td= image_tag event.image.thumb if event.image.present?
          %td
            = link_to "Edit", edit_admin_event_path(event), class: "btn btn-info"
            = link_to "Delete", admin_event_path(event), method: :delete, class: "btn btn-danger"


- unless @previous_events.present? || @upcoming_events.present?
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th.table-sort Sort
        %th Title
        %th Event Date
        %th Excerpt
        %th.table-image Image Preview
        %th.table-actions Actions
    %tbody
      %tr
        %td{colspan: 6} You haven't added any events.
