.container
  .row-fluid
    .col-lg-9
      %h2 Events
    .col-lg-3
      = link_to "Add Event", new_admin_event_path, class: "btn btn-primary pull-right"

.container
  .row-fluid
    .col-lg-12.col-tables
      = render "admin/events/table"