.row-fluid
  .col-lg-12
    .jumbotron
      %a.close.close-element &times;
      %h1 Welcome to Artiste!
      %p Artiste is the fastest and easiest way to create a professional portfolio website. Take a look around and make yourself at home. Think of Artiste as your studio space on the web. You'll be uploading and beautifully showcasing your work in no time.