- if flash.present?
  .container
    .row-fluid
      .col-lg-12
        - flash.each do |name, msg|
          - if name.to_s == "notice"
            %p.alert.alert-success
              %a.close.close-element &times;
              = msg
          - elsif name.to_s == "alert"
            %p.alert.alert-danger
              %a.close.close-element &times;
              = msg
          - else
            %p.alert.alert-info
              %a.close.close-element &times;
              = msg