= simple_form_for([:admin, @work], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }}) do |f|
  = f.input :title, required: true
  = f.input :public, as: :select, required: true
  = f.input :featured, as: :select, required: true
  = f.association :category
  = f.input :caption
  = f.input :produced_at, as: :string, input_html: {class: "datepicker form-control"}
  = image_tag @work.image.small.url if @work.image?
  = f.input :image, label: "Upload Image"
  = f.input :image_cache, as: :hidden
  = f.button :submit, label: "Add Work", class: "btn btn-success"
  .preloader= image_tag "preloader.gif"