- if @categories.present?
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th.table-sort Sort
        %th Title
        %th Category
        %th Public
        %th Featured
        %th Caption
        %th.table-image Image Preview
        %th.table-actions Actions
    %tbody.sortable-table{:'data-update-url' => sort_admin_works_url}
      - @categories.each do |category|
        - if category.works.present?
          - category.works.each do |work|
            %tr{id: "work_#{work.id}"}
              %td
                .sort-handle
                  %i.glyphicon.glyphicon-sort
              %td= work.title
              %td= category.title
              %td= work.public ? "Yes" : "No"
              %td= work.featured ? "Yes" : "No"
              %td= work.caption
              %td= image_tag work.image.thumb if work.image.present?
              %td
                = link_to "Edit", edit_admin_work_path(work), class: "btn btn-info"
                = link_to "Delete", admin_work_path(work), method: :delete, class: "btn btn-danger"
      
      - if @uncategorized.present?
        - @uncategorized.each do |work|
          %tr{id: "work_#{work.id}"}
            %td
              .sort-handle
                %i.glyphicon.glyphicon-sort
            %td= work.title
            %td Uncategorized
            %td= work.public ? "Yes" : "No"
            %td= work.featured ? "Yes" : "No"
            %td= work.caption
            %td= image_tag work.image.thumb if work.image.present?
            %td
              = link_to "Edit", edit_admin_work_path(work), class: "btn btn-info"
              = link_to "Delete", admin_work_path(work), method: :delete, class: "btn btn-danger"

- else
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th.table-sort Sort
        %th Title
        %th Public
        %th Featured
        %th Caption
        %th.table-image Image Preview
        %th.table-actions Actions
    %tbody.sortable-table{:'date-update-url' => sort_admin_works_url}
      - @works.each do |work|
        %tr{id: "work_#{work.id}"}
          %td
            .sort-handle
              %i.glyphicon.glyphicon-sort
          %td= work.title
          %td= work.public ? "Yes" : "No"
          %td= work.featured ? "Yes" : "No"
          %td= work.caption
          %td= image_tag work.image.thumb if work.image.present?
          %td
            = link_to "Edit", edit_admin_work_path(work), class: "btn btn-info"
            = link_to "Delete", admin_work_path(work), method: :delete, class: "btn btn-danger"
