.container
  .row-fluid
    .col-lg-9
      %h2 Works
    .col-lg-3
      = link_to "Add Work", new_admin_work_path, class: "btn btn-primary pull-right"

.container
  .row-fluid
    .col-lg-12.col-tables
      = render "admin/works/table"