= simple_form_for([:admin, @category], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }}) do |f|
  = f.input :title, required: true
  = f.input :featured, as: :select
  = f.input :description
  = image_tag @category.image.small if @category.image?
  = f.input :image, label: "Upload Image"
  = f.input :image_cache, as: :hidden
  = f.button :submit, label: "Add Category", class: "btn btn-success"
  .preloader= image_tag "preloader.gif"