%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th.table-sort Sort
      %th Title
      %th Description
      %th.table-image Image Preview
      %th.table-actions Actions
  %tbody.sortable-table{:'data-update-url' => sort_admin_categories_url}
    - if @categories.present?
      - @categories.each do |cat|
        %tr{id: "category_#{cat.id}"}
          %td
            .sort-handle
              %i.glyphicon.glyphicon-sort
          %td= cat.title
          %td= cat.description
          %td= image_tag cat.image.thumb if cat.image.present?
          %td
            = link_to "Edit", edit_admin_category_path(cat), class: "btn btn-info"
            = link_to "Delete", admin_category_path(cat), method: :delete, class: "btn btn-danger"
    - else
      %tr 
        %td{colspan: 5}
          You haven't added any categories yet.