.container
  .row-fluid
    .col-lg-9
      %h2 Categories
    .col-lg-3
      = link_to "Add Category", new_admin_category_path, class: "btn btn-primary pull-right"

.container
  .row-fluid
    .col-lg-12.col-tables
      = render "admin/categories/table"