= simple_form_for([:admin, @user], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }}) do |f|
  = f.input :email, required: true
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  = f.button :submit, label: "Add User", class: "btn btn-success"
  .preloader= image_tag "preloader.gif"