%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Email Address
      %th.table-actions Actions

  %tbody
    - if @users.present?
      - @users.each do |user|
        %tr
          %td= user.email
          %td
            = link_to "Edit", edit_admin_user_path(user), class: "btn btn-info"
            = link_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-danger", confirm: "Are you sure?"
