.container
  .row-fluid
    .col-lg-9
      %h2 Users
    .col-lg-3
      = link_to "Add User", new_admin_user_path, class: "btn btn-primary pull-right"

.container
  .row-fluid
    .col-lg-12.col-tables
      = render "admin/users/table"