!!!
%html
  %head
    %title Artiste
    = stylesheet_link_tag "admin", media: "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to "Artiste", admin_root_path, class: "navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{class: active_for_controller("categories")}
              = link_to "Categories", admin_categories_path
            %li{class: active_for_controller("works")}
              = link_to "Works", admin_works_path
            %li{class: active_for_controller("pages")}
              = link_to "Pages", admin_pages_path
            %li{class: active_for_controller("events")}
              = link_to "Events", admin_events_path
            %li{class: active_for_controller("inquiries")}
              = link_to "Inquiries", admin_inquiries_path
            %li{class: active_for_controller("users")}
              = link_to "Users", admin_users_path
    
    .wrapper
      .container

        = render partial: "layouts/admin/flash", locals: {flash: flash}

        = yield

      .push

    .footer
      %p.centered
        Artiste was made with open source love by #{link_to "LRDIV", "http://lrdiv.com", target: "_blank"}.